frontend http
    bind *:8080
    mode http
    timeout client 10s
    use_backend all

backend all
    mode http
    server s1 auth-service:9001
    server s2 ticket-service:9002
    server s3 order-service:9003
    server s4 expiration-service:9004
    server s5 payment-service:9005
    server s6 client:3000